body {
    background-image: url("./../../arquivos/Tela Cadastro/colmeia.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 425px) {
    body {
        background-image: none;
    }
}