<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="./../static/arquivos/favicon.png" type="image/x-icon">
    <!-- Favicon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <!-- Nosso CSS -->
    <link rel="stylesheet" href="./../static/css/Tela Criação do Projeto/criação_do_projeto.css">
    <!-- Nosso CSS -->
    <!-- Titulo -->
    <title>BizGrow</title>
    <!-- Titulo -->
</head>

<body>
    <!-- NAV -->
    <nav class="navbar navbar-dark bg-black navbar-expand-lg">
        <div class="container">
            <!-- Logo do Site -->
            <div>
                <a class="navbar-brand text-light fs-1 bebas-neue-regular" href="#"><img
                        src="./../../static/arquivos/Tela Home/logo.svg" alt="Logo do site"> BizGrow</a>
            </div>
            <!-- Logo do Site -->
            <!-- Navegação -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mt-2 mt-lg-0 ms-auto gap-lg-3 mb-lg-0">
                    <li class="nav-item"><a class="nav-link bebas-neue-regular text-white fs-3" href="#">
                            <p class="pt-3">Login</p>
                        </a></li>
                    <li class="nav-item"><a class="nav-link bebas-neue-regular text-white fs-3" href="#">
                            <p class="pt-3">Cadastre-se</p>
                        </a></li>
                    </li>
                </ul>
            </div>
            <!-- Navegação  -->
        </div>
    </nav>
    <!-- NAV -->
    <!-- MAIN -->
    <main class="container">
        <div class="text-center mt-5">
            <h1>Criação do Projeto</h1>
            <p>O seu projeto pode mudar o mundo!</p>
        </div>
        <!-- Conteúdo Principal -->
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="text-warning text-center text-lg-start">Dê mais detalhes sobre seu projeto</h5>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <!-- Formulário -->
                        <form action="">
                            <!-- Estágio de desenvolvimento -->
                            <div>
                                <!-- Título -->
                                <div>
                                    <h6 class="text-warning text-center text-lg-start mt-3">Em qual estágio de
                                        desenvolvimento
                                        seu projeto se encontra?
                                    </h6>
                                </div>
                                <!-- Título -->
                                <!-- Tenho uma ideia geral -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis"
                                        for="btn-check">Eu
                                        tenho uma ideia geral</label>
                                </div>
                                <!-- Tenho uma ideia geral -->
                                <!-- Tenho o protótipo -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-2">Eu
                                        tenho o protótipo</label>
                                </div>
                                <!-- Tenho o protótipo -->
                                <!-- Tenho as especificações -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-3">Eu tenho as especificações</label>
                                </div>
                                <!-- Tenho as especificações -->
                                <!-- Tenho o projeto pronto -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-4">Eu tenho o projeto pronto</label>
                                </div>
                                <!-- Tenho o projeto pronto -->
                                <!-- Não se aplica -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-5" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-5">Não se aplica</label>
                                </div>
                                <!-- Não se aplica -->
                            </div>
                            <!-- Estágio de desenvolvimento -->
                            <!-- Integração com API -->
                            <div>
                                <!-- Título -->
                                <div>
                                    <h6 class="text-warning text-center text-lg-start mt-3">Você tem integração com
                                        alguma API?
                                    </h6>
                                </div>
                                <!-- Título -->
                                <!-- API 1 -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-6" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis"
                                        for="btn-check-6">
                                        Payment Processor:
                                        PayPal, Stripe, etc...</label>
                                </div>
                                <!-- API 1 -->
                                <!-- API 2 -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-7" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-7">
                                        Mídias Sociais:
                                        Facebook, Instagram, etc...
                                    </label>
                                </div>
                                <!-- API 2 -->
                                <!-- API 3 -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-8" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-8">
                                        Cloud Storage:
                                        Dropbox, Google Drive, etc...</label>
                                </div>
                                <!-- API 3 -->
                                <!-- Nenhuma API -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-9" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-9">Outras API’s/Nenhuma API</label>
                                </div>
                                <!-- Nenhuma API -->
                            </div>
                            <!-- Integração com API -->
                            <!-- Investimento -->
                            <div>
                                <!-- Titulo -->
                                <div>
                                    <h6 class="text-warning text-center text-lg-start mt-3">Qual seria o investimento
                                        previsto
                                        para o projeto?
                                    </h6>
                                </div>
                                <!-- Titulo -->
                                <!-- 1 -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-10" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis"
                                        for="btn-check-10">
                                        R$ 1.000,00 - 5.000,00</label>
                                </div>
                                <!-- 1 -->
                                <!-- 2 -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-11" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2"
                                        for="btn-check-11">
                                        R$ 5.000,00 - 10.000,00
                                    </label>
                                </div>
                                <!-- 2 -->
                                <!-- 3 -->
                                <div class="text-center text-lg-start">
                                    <input type="checkbox" class="btn-check" id="btn-check-12" autocomplete="off">
                                    <label class="btn btn-outline-warning rounded-pill text-dark-emphasis mt-2 "
                                        for="btn-check-12">
                                        R$ 10.000,00 - 50.000,00</label>
                                </div>
                                <!-- 3 -->
                            </div>
                            <!-- Investimento -->
                            <!-- Botão -->
                            <div class="text-center text-lg-start">
                                <button class="btn btn-outline-warning rounded-pill mt-3 px-4" type="submit">Publicar
                                    Projeto</button>
                            </div>
                            <!-- Botão -->
                    </div>
                    </form>
                    <!-- Formulário -->
                    <div class="col-lg-7 text-center d-none d-lg-block ">
                        <img src="./../../static/arquivos/Tela Criação do Projeto/Desenho2.svg" alt="" width="80%">
                    </div>
                </div>
            </div>
        </div>
        <!-- Conteúdo Principal -->
    </main>
    <!-- MAIN -->
    <!-- FOOTER -->
    <footer class="bg-white border-top mt-5">
        <div class="container p-4">
            <div class="row">
                <!-- Logo do Site -->
                <div class="col-md-12 col-lg-3 mx-auto mt-3">
                    <a class=" text-dark fs-1 bebas-neue-regular link-underline link-underline-opacity-0" href="#"><img
                            src="./../../static/arquivos/Tela Home/logo.svg" alt="Logo do site">
                        BizGrow</a>
                </div>
                <!-- Logo do Site -->
                <!-- Lista "Quem Somos" -->
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <div>
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Quem somos?</h6>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Sobre nós</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Politica de privacidade</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Termos de serviço</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Configuração de cookies</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Contato</a></p>
                        </li>
                    </ul>
                </div>
                <!-- Lista "Quem Somos" -->
                <!-- Lista "Recursos" -->
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <div>
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Recursos</h6>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Central de ajuda</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Como
                                    funciona?</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Tutoriais para investidores</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Tutoriais para freelancers</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Mapa
                                    do site</a></p>
                        </li>
                    </ul>
                </div>
                <!-- Lista "Recursos" -->
                <!-- Redes Sociais -->
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <a href="#"><img src="./../../static/arquivos/Tela Home/facebook2.svg" alt="Logo do Facebook"
                            width="40px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/twitter2.svg" alt="Logo do Twitter"
                            width="40px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/instagram2.svg" alt="Logo do Instagram"
                            width="40px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/linkedin2.svg" alt="Logo do Linkedin"
                            width="40px"></a>
                </div>
                <!-- Redes Sociais -->
                <!-- Copyright -->
                <div>
                    <hr class="d-none d-md-block">
                    <p class="text-body-emphasis mt-4 mt-md-0 ">© 2024 BizGrow - Todos os direitos reservados</p>
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </footer>
    <!-- FOOTER -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <!-- Nosso JS -->
    <Script src="./../static/js/Tela Criação do Projeto/criação_do_projeto.js"></Script>
    <!-- Nosso JS -->
</body>

</html>