<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="./../../static/arquivos/favicon.png" type="image/x-icon">
    <!-- Favicon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <!-- Nosso CSS -->
    <link rel="stylesheet" href="./../../static/css/Tela Home/home.css">
    <!-- Nosso CSS -->
    <!-- Titulo -->
    <title>BizGrow</title>
    <!-- Titulo -->
</head>

<body>
    <!-- NAV -->
    <nav class="navbar navbar-dark bg-black navbar-expand-lg">
        <div class="container">
            <!-- Logo do Site -->
            <div>
                <a class="navbar-brand text-light fs-1 bebas-neue-regular" href="#"><img
                        src="./../../static/arquivos/Tela Home/logo.svg" alt="Logo do site"> BizGrow</a>
            </div>
            <!-- Logo do Site -->
            <!-- Navegação -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mt-2 mt-lg-0 ms-auto gap-lg-3 mb-lg-0">
                    <li class="nav-item"><a class="nav-link bebas-neue-regular text-white fs-3" href="#">
                            <p class="pt-3">Login</p>
                        </a></li>
                    <li class="nav-item"><a class="nav-link bebas-neue-regular text-white fs-3" href="#">
                            <p class="pt-3">Cadastre-se</p>
                        </a></li>
                    </li>
                </ul>
            </div>
            <!-- Navegação  -->
        </div>
    </nav>
    <!-- NAV -->
    <!-- MAIN -->
    <main class="container d-flex justify-content-center align-items-center mt-3">
        <div class="row">
            <!-- Conteúdo Principal -->
            <div class="col-md-6">
                <div class="d-flex gap-2">
                    <div class="d-none d-md-block">
                        <img src="./../../static/arquivos/Tela Home/conquista.svg" alt="Ícone de conquista">
                        Satisfação garantida
                    </div>
                    <div class="d-none d-md-block">
                        <img src="./../../static/arquivos/Tela Home/check.svg" alt="Ícone de check">
                        Consultoria grátis
                    </div>
                    <div class="d-none d-md-block">
                        <img src="./../static/arquivos/Tela Home/escudo.svg" alt="Ícone de escudo">
                        Transferência segura
                    </div>
                </div>
                <div class="text-center text-md-start">
                    <h1>Fabricando muito mais do que apenas <span class="text-warning">Novos Projetos!</span></h1>
                    <p>É hora de transformar projetos em realidade. Aqui na BizGrow
                        você verá a realidade dos seus investimentos!</p>
                    <p>Em poucos minutos, você poderá investir em projetos de diversos
                        tipos no ramo da tecnologia.</p>
                </div>
                <!-- Botão -->
                <div class="text-center text-md-start">
                    <a href="#escolha">
                        <button type="button" class="btn btn-dark rounded-pill text-warning fw-bold px-5 py-2">Eu
                            quero começar!</button>
                    </a>
                </div>
                <!-- Botão -->
                <!-- Redes Sociais -->
                <div class="d-flex gap-3 justify-content-center justify-content-md-start mt-4">
                    <a href="#"><img src="./../../static/arquivos/Tela Home/facebook1.svg" alt="Ícone do Facebook"
                            width="20px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/twitter1.svg" alt="Ícone do Twitter"
                            width="20px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/instagram1.svg" alt="Ícone do Instagram"
                            width="20px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/linkedin1.svg" alt="Ícone do Linkedin"
                            width="20px"></a>
                </div>
                <!-- Redes Sociais -->
            </div>
            <!-- Conteúdo Principal -->
            <!-- Abelha -->
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <div class="d-none d-md-block">
                        <lottie-player src="https://lottie.host/506b502f-171c-4489-a11c-6d438b0d5694/nE37HOYLjX.json"
                            background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                            autoplay></lottie-player>
                    </div>
                </div>
            </div>
            <!-- Abelha -->
        </div>
    </main>
    <!-- MAIN -->
    <!-- SECTION 1 -->
    <section class="container section1">
        <div>
            <h1 class="text-center">O que posso encontrar na <span class="text-warning">BizGrow</span>?</h1>
        </div>
        <div class="row gap-5 justify-content-center mt-4">
            <!-- Card 1 -->
            <div class="card col-lg-4" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./../../static/arquivos/Tela Home/pessoas.svg" alt="Ícone de pessoas">
                        <h5>Organizações Independentes!</h5>
                        <p>Não é preciso de uma equipe grande para realizar seus projetos!</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card col-lg-4" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./../../static/arquivos/Tela Home/predio.svg" alt="Ícone de prédio">
                        <h5>Investimento<br>Fácil!</h5>
                        <p>O futuro dos seus investimentos não precisam ser chatos e burocráticos!</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card col-lg-4" style="width: 18rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./../../static/arquivos/Tela Home/maos.svg" alt="Ícone de mãos">
                        <h5>Totalmente<br>Seguro!</h5>
                        <p>As suas negociações e transferências são garantidas e 100% seguras!</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
        </div>
    </section>
    <!-- SECTION 1 -->
    <!-- SECTION 2 -->
    <section class="container section2">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="./../../static/arquivos/Tela Home/desenho1.svg" alt="Desenho" width="90%">
            </div>
            <div class="col-md-6">
                <div class="text-center text-md-start">
                    <h1>Dê o primeiro passo para o futuro</h1>
                    <p class="fs-3">Invista hoje no seu futuro, porque o tempo não espera e os
                        melhores retornos pertencem aos que têm visão e coragem para agir agora.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION 2 -->
    <!-- SECTION 3 -->
    <section class="container section3">
        <div class="text-center">
            <h1>O mercado mais lucrativo de todos</h1>
            <p class="fs-3">E os números não param de crescer!</p>
        </div>
        <!-- 1 -->
        <div class="text-center row justify-content-evenly my-5">
            <div class="col-md-6 col-lg-3">
                <img src="./../../static/arquivos/Tela Home/investidores.svg" alt="ícone de Investidores" width="60px">
                <h1>2,245,341</h1>
                <p>Investidores</p>
            </div>
            <!-- 1 -->
            <!-- 2 -->
            <div class="col-md-6 col-lg-3">
                <img src="./../../static/arquivos/Tela Home/projetos.svg" alt="ícone de Projetos" width="60px">
                <h1>46,328</h1>
                <p>Projetos</p>
            </div>
            <!-- 2 -->
            <!-- 3 -->
            <div class="col-md-6 col-lg-3">
                <img src="./../../static/arquivos/Tela Home/porcentagem.svg" alt="ícone de Porcentagem" width="60px">
                <h1>300%</h1>
                <p>Lucro por mês</p>
            </div>
            <!-- 3 -->
            <!-- 4 -->
            <div class="col-md-6 col-lg-3">
                <img src="./../../static/arquivos/Tela Home/cartão.svg" alt="ícone de Cartão" width="60px">
                <h1>1,926,436</h1>
                <p>Pagamentos</p>
            </div>
            <!-- 4 -->
    </section>
    <!-- SECTION 3 -->
    <!-- SECTION 4 -->
    <section class="container section4">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-md-6 text-center">
                <img src="./../../static/arquivos/Tela Home/desenho2.svg" alt="Desenho" width="90%">
            </div>
            <div class="col-md-6">
                <h1 class="text-center text-md-start">Crie hoje os seus projetos</h1>
                <p class="fs-3 text-center text-md-start">O sucesso de um empreendedor é moldado pela coragem de abraçar
                    o desconhecido e a persistência para transformá-lo em oportunidade.</p>
            </div>
        </div>
    </section>
    <!-- SECTION 4 -->
    <!-- SECTION 5 -->
    <section class="container mt-5" id="escolha">
        <div>
            <h1 class="text-center">Onde posso começar?</h1>
        </div>
        <div class="row gap-5 justify-content-center mt-4">
            <!-- Card 1 -->
            <div class="card col-6" style="width: 25rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./../../static/arquivos/Tela Home/investimento.svg" alt="Ícone de investimento">
                        <h5 class=" text-uppercase mt-2">Quer empreender em um pequeno negócio</h5>
                        <p class="mt-3">Invista em pequenos projetos que pode retornar lucros maiores e que
                            contenha:</p>
                        <ul class="list-unstyled">
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold">
                                <img src="./../../static/arquivos/Tela Home/linhas.svg" alt="Ícone de linhas"
                                    width="40px">
                                Foco em inovação
                            </div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold text-start ">
                                <img src="./../../static/arquivos/Tela Home/loop.svg" alt="Ícone de loop" width="40px">
                                Agilidade e flexibilidade
                            </div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold">
                                <img src="./../../static/arquivos/Tela Home/coracao.svg" alt="Ícone de coração"
                                    width="40px">
                                Foco no cliente
                            </div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold">
                                <img src="./../../static/arquivos/Tela Home/bola.svg" alt="Ícone de bola" width="40px">
                                Visão investidora
                            </div>
                        </ul>
                        <div class="mt-3">
                            <button type="button" class="btn btn-outline-warning rounded-pill fw-medium px-4 py-2">
                                Eu quero investir</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 1 -->
            <!-- Card 2 -->
            <div class="card col-6" style="width: 25rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="./../../static/arquivos/Tela Home/trabalho.svg" alt="Ícone de trabalho">
                        <h5 class=" text-uppercase mt-2">Quer empreender em um pequeno negócio</h5>
                        <p class="mt-3">Empreenda seus pequenos projetos que pode retornar lucros maiores e que
                            contenha:</p>
                        <ul class="list-unstyled">
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold">
                                <img src="./../../static/arquivos/Tela Home/linhas.svg" alt="Ícone de linhas"
                                    width="40px">
                                Foco em inovação
                            </div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold text-start">
                                <img src="./../../static/arquivos/Tela Home/loop.svg" alt="Ícone de loop" width="40px">
                                Agilidade e flexibilidade
                            </div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold">
                                <img src="./../../static/arquivos/Tela Home/coracao.svg" alt="Ícone de coração"
                                    width="40px">
                                Foco no cliente
                            </div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-semibold">
                                <img src="./../../static/arquivos/Tela Home/bola.svg" alt="Ícone de bola" width="40px">
                                Visão empreendedora
                            </div>
                        </ul>
                        <div class="mt-3">
                            <button type="button" class="btn btn-outline-warning rounded-pill fw-medium px-4 py-2">
                                Eu quero empreender</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
        </div>
    </section>
    <!-- SECTION 5 -->
    <!-- FOOTER -->
    <footer class="bg-white border-top mt-5">
        <div class="container p-4">
            <div class="row">
                <!-- Logo do Site -->
                <div class="col-md-12 col-lg-3 mx-auto mt-3">
                    <a class=" text-dark fs-1 bebas-neue-regular link-underline link-underline-opacity-0" href="#"><img
                            src="./../../static/arquivos/Tela Home/logo.svg" alt="Logo do site">
                        BizGrow</a>
                </div>
                <!-- Logo do Site -->
                <!-- Lista "Quem Somos" -->
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <div>
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Quem somos?</h6>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Sobre nós</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Politica de privacidade</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Termos de serviço</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Configuração de cookies</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Contato</a></p>
                        </li>
                    </ul>
                </div>
                <!-- Lista "Quem Somos" -->
                <!-- Lista "Recursos" -->
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <div>
                        <h6 class="text-uppercase mb-4 font-weight-bold text-warning">Recursos</h6>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Central de ajuda</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Como
                                    funciona?</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Tutoriais para investidores</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Tutoriais para freelancers</a></p>
                        </li>
                        <li>
                            <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover"
                                    href="#">Mapa
                                    do site</a></p>
                        </li>
                    </ul>
                </div>
                <!-- Lista "Recursos" -->
                <!-- Redes Sociais -->
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <a href="#"><img src="./../../static/arquivos/Tela Home/facebook2.svg" alt="Logo do Facebook"
                            width="40px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/twitter2.svg" alt="Logo do Twitter"
                            width="40px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/instagram2.svg" alt="Logo do Instagram"
                            width="40px"></a>
                    <a href="#"><img src="./../../static/arquivos/Tela Home/linkedin2.svg" alt="Logo do Linkedin"
                            width="40px"></a>
                </div>
                <!-- Redes Sociais -->
                <!-- Copyright -->
                <div>
                    <hr class="d-none d-md-block">
                    <p class="text-body-emphasis mt-4 mt-md-0 ">© 2024 BizGrow - Todos os direitos reservados</p>
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </footer>
    <!-- FOOTER -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <!-- Nosso JS -->
    <Script src="./../static/js/Tela Home/home.js"></Script>
    <!-- Nosso JS -->
    <!-- JS da Abelha -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- JS da Abelha -->
</body>

</html>