body {
    background-image: url("./../../arquivos/Tela Home/colmeia.svg");
    background-position-x: 60%;
    background-repeat: no-repeat;

}

@media (max-width: 766px) {
    body {
        background-image: none;
    }
}